\latihan\public\Images
latihan\public\Project1\Images
latihan\public\Project2\Images
latihan\public\Project3\Images
latihan/public/Images/dawd.jpg
latihan/public/Images/me2.png
latihan/public/Images/me.webp
*.jpg
